@{
    ViewBag.Title = "Arcade Lobby";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>io
            <p>
                Game Lobby !!! Welcome Friends
            </p>
        </div>
    </section>
}
<h3>Games:</h3>
<ol class="round">
    <li class="one">
      
        @using (Html.BeginForm("JoinLobby", "Lobby", new { id = "u1" })) { 
           <h5>SpaceWarez</h5> <input type="submit" value="Join" />
        }
    </li>

    <li class="two"></li>

    <li class="three"></li>
</ol>
