@model IEnumerable<GameLobby.Models.Room>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumPlayersInRomm) / @Html.DisplayFor(modelItem => item.MaxNumPlayersInRoom)
        </td>
        <td>
            @Html.ActionLink("Join", "JoinRoom", new { roomId=item.RoomID,userId =ViewBag.userId })
        </td>
    </tr>
}
