<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState mode="SQLServer" sqlConnectionString="Data Source=(LocalDb)\.\SharedLocalDb;UID=isagi;Password=1234@E3;Application Name=SpaceWarez"  />
      <machineKey validationKey="B8200CAA297D2381CECC4418ED202CA54E496DB576FE8EDC61EA6938C3C8DD0923A05A7A93F58D5F08460A4AEBBB24CF102553A0C980BDABA1DE9101113C628D" decryptionKey="054C9DC26C9535C429991216CEA227CD623BC646645398EB2B36D2BDDAF494BE" validation="SHA1" decryption="AES" />

    </system.web>
</configuration>
