\
<div class="container-view">
    <div class="header-panel">
        <div class="inner-panel">
            <span>Darcy Naders Game Emporium</span>
            <button class="btnlogin btn" ng-click="open()">login</button>
        </div>
    </div>
    <div class="right-panel">
        <div class="inner-panel">
            <ul class="game-list">
                <li ge-onevent='{ev:"mouseenter",handler:setBackground}' ng-repeat="game in games">{{game.name}}</li>
            </ul>
        </div>
    </div>
    <div class="left-panel">
        <div class="inner-panel">
            <img src={{background.url}} ng-click="clickImage()">
        </div>
    </div>
    <div class="footer-panel">
        <div class="inner-panel"></div>
    </div>
</div>
