<div class="container-view">
    <div class="header-panel">
        <div class="inner-panel">
            <span>Darcy Naders Game Emporium</span>
            <button class="btnlogin btn" ng-click="open()">login</button>
        </div>
    </div>
    <div class="right-panel">
        <div class="inner-panel">
            <ul class="game-list">
                <li ng-repeat="room in rooms" ng-click="roomEnter(room)">{{room.name}} / {{room.players.length}}</li>
            </ul>
        </div>
    </div>
    <div class="left-panel">
        <div class="inner-panel" ng-show="selectedRoom">
            <div class="chat">
                <textarea class="chatArea" cols="30" rows="10"></textarea>
                <input class="chatLine" type="text" name="" id="">
                <button class="chatBtn">Send</button>
            </div>
            <div class="players-pane">
                <div ng-repeat="player in selectedRoom.players">
                    <span>{{player.name}}</span>
                    <span>{{player.rank}}</span>
                    <input type="checkbox" ng-model="player.rdy" ng-change="onChange(player.rdy)">
                </div>
            </div>
            <div class="button-panel">
                <button>Ready</button>
                <button>Start</button>
            </div>

        </div>
    </div>
    <div class="footer-panel">
        <div class="inner-panel"></div>
    </div>
</div>
