*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.container-view {
  width: 85%;
  height: 650px;
  border-color: white;
  border-style: solid;
  /*background-color: whitesmoke;*/
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header-panel {
  height: 6.8%;
}

div.header-panel > div.inner-panel {
  /*padding: 0.5%;*/
  padding-left: 40%;
  padding-right: 0%;
  /*border-width: 1px;*/
  /*border-radius: 6px;*/
  width: 99.4%;
}

.btnlogin {
  margin-left: 60%;
}

.right-panel {
  float: left;
  width: 15%;
  height: 80%;
}

.left-panel {
  float: left;
  width: 84.1%;
  height: 80%;
}

.footer {
  width: 100%;
  height: 15%;
  clear: both;
}

.game-list > li {
  padding-bottom: 2%;
  padding-top: 2%;
}

.inner-panel {
  border-style: none;
  border-width: 0px;
  background-color: whitesmoke;
  /* height: 99%; */
}

div[class*='-panel'] {
  /*background-color: whitesmoke;*/
  background-color: rgb(46, 75, 128);
  border-spacing: 2px;
  border-color: rgb(46, 75, 128);
  /*border-color: cornflowerblue;*/
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  margin: 1.9px;
}



.footer-panel {
  height: 10%;
  clear: both;
  width: 99.4%;
}

.footer-panel > .inner-panel {
  height: 94%;
  width: 99.4%;
}